<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>Beauty Lady</title>

    <link rel="stylesheet" href="/styles/menu.css">
    <link rel="stylesheet" href="/styles/general.css">

    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
</head>
<body>

{{> blocks/top}}
{{> blocks/user-menu}}
<div id="content">
    <h2>Наші чарівниці</h2>
    <img src="../images/masters.jpg">
</div>
<div id="footer">&copy; Beauty Lady 2020</div>
</body>
</html>