<div id="header">
    <h1>
        <img src="/images/favicon.ico" height="72px" hspace="20px" align="top" alt="Flower_image">
        Beauty Lady
        <img src="/images/favicon.ico" height="72px" hspace="20px" align="top" alt="Flower_image">
    </h1>
</div>